<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Tarefas</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top"></nav>
	<form action="/tarefas/adiciona" method="POST" class="form-horizontal">
		<div class="panel panel-default">
    		<div class="panel-heading">
    			<h1 class="panel-title">Nova tarefa</h1>
    		</div>
    		<div class="panel-body">
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label">Descrição</label>
					<div class="col-sm-4"> 
						<textarea rows="5" cols="250" class="form-control" 
							id="descricao" name="descricao"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
